include source/dapsenv/templates/dapsenv.conf
include source/dapsenv/data/build.sh
include source/dapsenv/data/guidename.xsl
include source/dapsenv/data/productname.xsl
include source/dapsenv/data/productnumber.xsl

global-exclude *.py[cod] __pycache__ *.so *.dylib
